<form [formGroup]="form" (ngSubmit)="formSubmitSubject.next()">
  <div>
      <label>Body</label>
      <input type="text" [formControlName]="'body'"/>
  </div>
  <div>
      <label>Sender</label>
      <input type="text" [formControlName]="'sender'"/>
  </div>
  <div>
    <label>Link</label>
    <input type="text" [formControlName]="'link'"/>
  </div>
  <div>
    <label>Image</label>
    <input type="text" [formControlName]="'image'"/>
  </div>
  <div>
      <button type="reset" >Reset</button>
      <button type="submit" [disabled]="form.invalid">{{ submitButtonText }}</button>
  </div>
</form>